@import "../zz_partials/functions";
@import "../zz_partials/variables";
@import "../zz_partials/mixins";

@import "../zz_partials/fonts";

#topnavid
{



    a{
        color:whitesmoke;
        text-decoration: none;

        // background-color:#f4511e;


        border-bottom: 1px solid transparentize(#fefefe, 1);
        transition: border-bottom .5s;
        transition-timing-function: ease-in-out;

        &:hover {
            $base-color:#f4511e;
            border-bottom: 1px solid opacify(#fefefe, 0.5);
            background-color:darken($base-color, 20%);
            //   color:#f4511e;

            border: 1px solid darken($base-color, 20%);
            text-shadow: 0 -1px 0 darken($base-color, 10%);
            border: 2px solid red;

            border-radius: 25px;

        }

    } 

    .navbar{

        // background-color:#f4511e;
      //  background-color:#ff4a56;
        
             background: radial-gradient(green,#ff4a56);

    }


    @media (max-width: 950px) {
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;

        }
        .navbar-collapse {
            //  border-top: 5px solid transparent;
            // box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            // display: none!important;
        }

        .navbar-nav>li {
            //  float: none;
        }


    }







} 


body {
    background-color: #ff4a56;
    height:100vh;
}

* {
    font-family: Helvetica, sans-serif;
    font-weight: light;
    -webkit-font-smoothing: antialiased;
}



#Booking{
    
    .booked_package{
        
                position: relative;
        padding: 10px 0;
        
                appearance: none;
      
        border: 1px solid #ff4a56;
        line-height: 0;
        font-size: 17px;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 10px 15px;
        border-radius: 60px;
       
        font-weight: 100;
        letter-spacing: 0.01em;
        position: relative;
        z-index: 1;
        
                outline: none;
        background: #ff4a56;
        color: white;
        margin-top: 30px;



    }
    
    
    .booked_package_input{
        
        background: #ff4a56;
        color: white;
        text-align: center;
      
    }
   
             position: absolute;
    
     width:100%;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    padding-top:100px;

   


    .transition, form button, form .question label, form .question input[type="text"] {
        transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    }

    .container{
        background-color: #ff4a56;
    }

    form {


        box-sizing: border-box;
        padding: 30px 25px;
        background-color: white;
        border-radius: 40px;
        margin: 40px 0;

    }
    form h1 {
        color: #ff4a56;
        font-weight: 100;
        letter-spacing: 0.01em;
        margin-left: 15px;
        margin-bottom: 35px;
        text-transform: uppercase;
    }
    form button {
        margin-top: 35px;
        background-color: white;
        border: 1px solid #ff4a56;
        line-height: 0;
        font-size: 17px;
        display: inline-block;
        box-sizing: border-box;
        padding: 20px 15px;
        border-radius: 60px;
        color: #ff4a56;
        font-weight: 100;
        letter-spacing: 0.01em;
        position: relative;
        z-index: 1;
    }
    form button:hover, form button:focus {
        color: white;
        background-color: #ff4a56;
    }
    form .question {
        position: relative;
        padding: 10px 0;
    }
    form .question:first-of-type {
        padding-top: 0;
    }
    form .question:last-of-type {
        padding-bottom: 0;
    }
    form .question label {
        transform-origin: left center;
        color: #ff4a56;
        font-weight: 100;
        letter-spacing: 0.01em;
        font-size: 17px;
        box-sizing: border-box;
        padding: 10px 15px;
        display: block;
        position: absolute;
        margin-top: -40px;
        z-index: 2;
        pointer-events: none;
    }
    form .question input[type="text"] {
        appearance: none;
        background-color: none;
        border: 1px solid #ff4a56;
        line-height: 0;
        font-size: 17px;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 10px 15px;
        border-radius: 60px;
        color: #ff4a56;
        font-weight: 100;
        letter-spacing: 0.01em;
        position: relative;
        z-index: 1;
    }
    form .question input[type="text"]:focus {
        outline: none;
        background: #ff4a56;
        color: white;
        margin-top: 30px;
    }
    form .question input[type="text"]:valid {
        margin-top: 30px;
    }
    form .question input[type="text"]:focus ~ label {
        transform: translate(0, -35px);
    }
    form .question input[type="text"]:valid ~ label {
        text-transform: uppercase;
        font-style: italic;
        transform: translate(5px, -35px) scale(0.6);
    }

    
    
    form .questionH {
        position: relative;
        padding: 10px 0;
    }
    form .questionH:first-of-type {
        padding-top: 0;
    }
    form .questionH:last-of-type {
        padding-bottom: 0;
    }
    form .questionH label {
        transform-origin: left center;
        color: #ff4a56;
        font-weight: 100;
        letter-spacing: 0.01em;
        font-size: 17px;
        box-sizing: border-box;
        padding: 10px 15px;
        display: block;
        position: absolute;
        margin-top: -40px;
        z-index: 2;
        pointer-events: none;
    }
    form .questionH input[type="text"] {
        appearance: none;
        background-color: none;
        border: 1px solid #ff4a56;
        line-height: 0;
        font-size: 17px;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 10px 15px;
        border-radius: 60px;
        color: #ff4a56;
        font-weight: 100;
        letter-spacing: 0.01em;
        position: relative;
        z-index: 1;
    }
    form .questionH input[type="text"]:focus {
        outline: none;
        background: #ff4a56;
        color: white;
      //  margin-top: 30px;
    }
    form .questionH input[type="text"]:valid {
     //   margin-top: 30px;
    }
    form .questionH input[type="text"]:focus ~ label {
      //  transform: translate(0, -35px);
    }
    form .questionH input[type="text"]:valid ~ label {
        text-transform: uppercase;
        font-style: italic;
      //  transform: translate(5px, -35px) scale(0.6);
    }
    
}            