@mixin google-font($font) {
    $font: unquote($font);

    //only css mixing can be imported # for separte
    @import url(https://fonts.googleapis.com/css?family=#{$font});
}


@mixin warning 
{
    background-color: orange;
    color: white;

    &:hover {
        background-color: darken(orange, 15%);
    }
}


@mixin font_size_adjust_company_caption($fs-map,$base-font)
{
    @each $fs-breakpoint in $fs-map 
    {
        @if $fs-breakpoint == null 
        {

            .company_caption_font
            {
                font-size: $base-font;
            }
        }
        @else
        {
            @media screen and (max-width: $fs-breakpoint) 
                {
                .company_caption_font
                {
                    font-size: px_to_vw($base-font,$fs-breakpoint);
                }
            }
        }
    }
}


@mixin font_size_adjust_company_moto($fs-map,$base-font)
{
    @each $fs-breakpoint in $fs-map 
    {
        @if $fs-breakpoint == null 
        {

            .company_moto_font  
            {
                font-size: $base-font;
            }
        }
        @else
        {
            @media screen and (max-width: $fs-breakpoint) 
                {
                .company_moto_font 
                {
                    font-size: px_to_vw($base-font,$fs-breakpoint);
                }
            }
        }
    }
}


@mixin font_size_adjust_company_email($fs-map,$base-font)
{
    @each $fs-breakpoint in $fs-map 
    {
        @if $fs-breakpoint == null 
        {

            .company_email_font  
            {
                font-size: $base-font;
            }
        }
        @else
        {
            @media screen and (max-width: $fs-breakpoint) 
                {
                .company_email_font 
                {
                    font-size: px_to_vw($base-font,$fs-breakpoint);
                }
            }
        }
    }
}

@mixin font_size_adjust_logo_menu($fs-map,$base-font)
{
    @each $fs-breakpoint in $fs-map 
    {
        @if $fs-breakpoint == null 
        {

            .company_logo_menu_font  
            {
                font-size: $base-font;
            }
        }
        @else
        {
            @media screen and (max-width: $fs-breakpoint) 
                {
                .company_email_font 
                {
                    font-size: px_to_vw($base-font,$fs-breakpoint);
                }
            }
        }
    }
}


@mixin font_size_adjust_package_card($fs-map,$base-font)
{
    @each $fs-breakpoint in $fs-map 
    {
        @if $fs-breakpoint == null 
        {

            .company_package_card  
            {
                font-size: $base-font;
            }
        }
        @else
        {
            @media screen and (max-width: $fs-breakpoint) 
                {
                .company_package_card 
                {
                    font-size: px_to_vw($base-font,$fs-breakpoint);
                }
            }
        }
    }
}


@mixin adjust_scroll($fs-map,$scroll-height)
{
    @each $fs-breakpoint in $fs-map 
    {
                 @media screen and (min-width: $fs-breakpoint) 
                {
                .scroll_mobile{

                    
                                        overflow-y:  scroll; height:200px;

                    }  
           
                }
    }
}






