@import "../zz_partials/functions";
@import "../zz_partials/variables";
@import "../zz_partials/mixins";

html,body{ 

    width:100%;
    height:100%;
    overflow:hidden;

}


h5{
    display:inline;
}


 



 

body{
    //   background-image: url('../02_IMAGES/ab_Login_Reg_page/00_cube/background.jpg');
    //  background-size: cover;
    // background-position: 50% 50%;
    // background-repeat: no-repeat;
    background: #DDDDDD;

}

 
#topnavid
{



    a{
        color:whitesmoke;
        text-decoration: none;

        // background-color:#f4511e;


        border-bottom: 1px solid transparentize(#fefefe, 1);
        transition: border-bottom .5s;
        transition-timing-function: ease-in-out;

        &:hover {
            $base-color:#f4511e;
            border-bottom: 1px solid opacify(#fefefe, 0.5);
            background-color:darken($base-color, 20%);
            //   color:#f4511e;

            border: 1px solid darken($base-color, 20%);
            text-shadow: 0 -1px 0 darken($base-color, 10%);
            border: 2px solid red;

            border-radius: 25px;

        }

    } 

    .navbar{

        //  background-color:#f4511e;
        background-color:#299617;
    }


    @media (max-width: 950px) {
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;

        }
        .navbar-collapse {
            //  border-top: 5px solid transparent;
            // box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            // display: none!important;
        }

        .navbar-nav>li {
            //  float: none;
        }


    }







} 

 

#viewport{
@include google-font("Roboto");
    perspective: 1000px;

    width:$cube_dim;
    height:$cube_dim;  
    position: absolute;
    perspective-origin: 50% 50%;
 
      top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    
  .center_face {
    position:absolute;
}


   
#cubeB{
      transform:  translateZ(-10000px);
    transform-style: preserve-3d;
    position: absolute;
    width:100%;
    height:100%; 
    //   background: green;
    //  transition: all 2s;
    
     transition: all 3s;


}


/* No height so center of rotation is on top */ 
#cube4{


    position: absolute;
    width:100%;
    height:100%; 
    //  transition: all 2s;


}




.width_adjust_face{
    width:100%;
    height:100%;
    opacity:1;
    position:absolute;
    //   border:1px solid black;


}
/*
    #cube div{
        width:100%;
        height:100%;
         opacity:1;
        position:absolute;
     //   border:1px solid black;
  
        
    }
*/
#front{

    //transform: translateZ($cube_dim_adjust);

    background-image: url('../02_IMAGES/ab_LOGIN_PAGE/00_cube/dark.png');
    border-style: ridge;
    border-color:whitesmoke;
    border-width: 8px;
    z-index: auto; 
    visibility: hidden;
}

#back{
       background-image: url('../02_IMAGES/ab_LOGIN_PAGE/00_cube/light.png');
    border-style: ridge;
    border-color:whitesmoke;
    border-width: 8px;
    z-index: auto;
    
    visibility: hidden;
 
}

#top{
    background: yellow;
    //  transform: translateY(-$cube_dim_adjust) rotateX(90deg);
    z-index: auto;
    
    visibility: hidden;
}

#bottom{
    background: yellow;
    //  transform: translateY($cube_dim_adjust) rotateX(-90deg);
    z-index: auto;
    visibility: hidden;
}

#left{
      background-image: url('../02_IMAGES/ab_LOGIN_PAGE/00_cube/adminlogin.jpg');
    border-style: ridge;
    border-color:whitesmoke;
    border-width: 8px;
    z-index: auto;
    visibility: hidden;
}

#right{
      background-image: url('../02_IMAGES/ab_LOGIN_PAGE/00_cube/Video.jpg');
    border-style: ridge;
    border-color:whitesmoke;
    border-width: 8px;
    z-index: auto;
    visibility: hidden;
    
          
}

#shadow{
    background: radial-gradient(#777,#DDDDDD);
    border: 0;
    z-index: auto;
    visibility: hidden;

    // transform: translateX($cube_dim_adjust) rotateY(90deg);
}

/*
@keyframes Rotatec{
    0% {transform:rotateY(0deg);}
    20%{transform:rotateY(30deg) rotateX(50deg);} 
    70%{transform:rotateY(210deg) rotateZ(120deg);}
    100%{transform:rotateY(360deg);}
}
#anim:hover + #viewport > #cube{
    animation: Rotatec 3s infinite;
}  

*/

#anim:hover + #viewport > #cube{
    transform: rotateX(-290deg) rotateY(150deg) rotateZ(130deg) translateX(400px);
}


#form_containter{

    transform: translateY(-50%);
}

#form_containter1{

    transform: translateY(-50%);
}

#form_containter2{

    transform: translateY(-50%);
}

#form_containter3{

    transform: translateY(-50%);
}

.next{
    float:right;

}

.prev{
    float:left;
}


.login_heading{
    font-family: $front_cube_font_heading;
    font-size: $front_cube_font_size;
    color: $front_cube_font_heading_color;
    text-shadow: 0 -1px 0 darken($front_cube_font_heading_color, 10%);
}

img {
    border-radius: 50%;
       
    border-color:whitesmoke;
     
}

#bottom_address{
    position: absolute;
    bottom:0%;
     
     
}

#bottom_addressv{
    position: absolute;
    bottom:0%;
     
     
}

#r-backb{
    float:left;
      transform: translateY(-100%);
      margin-left: 4px;
}

#r-nextb{
    float:right;
     transform: translateY(-100%);
      margin-right: 4px;
}

#r-backv{
    float:left;
      transform: translateY(-100%);
      margin-left: 4px;
}

#r-nextv{
    float:right;
     transform: translateY(-100%);
      margin-right: 4px;
}

.video_border{
      background: green;
    border-style: ridge;
    border-color:whitesmoke;
    border-width: 8px;
}


.front_rotation_admin_right{
    
     transform: rotate(-100%);
}

/* No height so center of rotation is on top */ 
#cube{
   
    transform-style: preserve-3d;
    position: absolute;
    width:100%;
    height:100%; 
 
}

#cubeR{
    //  transform:  translateZ(-180px);
    transform-style: preserve-3d;
    position: absolute;
    width:100%;
    height:100%; 
    //   background: green;
    //  transition: all 2s;
    
    


}
 
.rotate_transition{
    
       // background: violet;
    //  transition: all 2s;
     transform: rotateX(0 deg) rotateY(0deg);
   transition-timing-function: ease-out;
   transition: all 2s;

}

.rotate_transition_fast{
    
       // background: violet;
    //  transition: all 2s;
   transition-timing-function: ease-out;
   transition: all .0000000000000000000000000000000000000000000000001s;

} 
.video_heading{
    font-family:$headline-font_jumbotron ;
        text-shadow: 4px 4px 4px #aaa;
         color:  #19C5FF;
         margin-bottom: 10px;
}
 

}


.roundB {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    
     background: radial-gradient(blue,green);
    border: 0;
    z-index: auto;
 
}
.roundBH {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
    border-radius: 50%;
    
     background: radial-gradient(blue,green);
    border: 0;
    z-index: auto;
 
} 



#myModalF{
    	.modal-confirm {		
		color:red;
		
	}
        
        .modal-confirm .modal-content {
		padding: 20px;
		font-size: 16px;
		border-radius: 5px;
		border: none;
	}
	.modal-confirm .modal-header {
		background: #e85e6c;
		border-bottom: none;   
        position: relative;
		text-align: center;
		margin: -20px -20px 0;
		border-radius: 5px 5px 0 0;
		padding: 35px;
	}
	
	.modal-confirm h4 {
		text-align: center;
		font-size: 36px;
		margin: 10px 0;
	}
        .modal-confirm .form-control, .modal-confirm .btn {
		min-height: 40px;
		border-radius: 5%; 
	}
        
        .modal-confirm .close {
        position: absolute;
		top: 15px;
		right: 15px;
		color: #fff;
		text-shadow: none;
		opacity: 0.5;
	}
	.modal-confirm .close:hover {
		opacity: 0.8;
	}

		.modal-confirm .icon-box {
		color: #fff;		
		width: 95px;
		height: 95px;
		display: inline-block;
		border-radius: 50%;
		z-index: 9;
		border: 5px solid #fff;
		padding: 15px;
		text-align: center;
	}
	.modal-confirm .icon-box i {
		font-size: 58px;
		margin: -2px 0 0 -2px;
	}
	.modal-confirm.modal-dialog {
		margin-top: 80px;
	}

	 .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #eeb711;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		border-radius: 30px;
		margin-top: 10px;
		padding: 6px 20px;
		min-width: 150px;
        border: none;
    }
	.modal-confirm .btn:hover, .modal-confirm .btn:focus {
		background: #eda645;
		outline: none;
	}
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}
      
}
#myModalS{
    
       body {
		font-family: 'Varela Round', sans-serif;
	}
	.modal-confirm {		
		color: #434e65;
 
	}
	.modal-confirm .modal-content {
		padding: 20px;
		font-size: 16px;
		border-radius: 5px;
		border: none;
	}
	.modal-confirm .modal-header {
		background: #e85e6c;
		border-bottom: none;   
        position: relative;
		text-align: center;
		margin: -20px -20px 0;
		border-radius: 5px 5px 0 0;
		padding: 35px;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 36px;
		margin: 10px 0;
	}
	.modal-confirm .form-control, .modal-confirm .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-confirm .close {
        position: absolute;
		top: 15px;
		right: 15px;
		color: #fff;
		text-shadow: none;
		opacity: 0.5;
	}
	.modal-confirm .close:hover {
		opacity: 0.8;
	}
	.modal-confirm .icon-box {
		color: #fff;		
		width: 95px;
		height: 95px;
		display: inline-block;
		border-radius: 50%;
		z-index: 9;
		border: 5px solid #fff;
		padding: 15px;
		text-align: center;
	}
	.modal-confirm .icon-box i {
		font-size: 58px;
		margin: -2px 0 0 -2px;
	}
	.modal-confirm.modal-dialog {
		margin-top: 80px;
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #eeb711;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		border-radius: 30px;
		margin-top: 10px;
		padding: 6px 20px;
		min-width: 150px;
        border: none;
    }
	.modal-confirm .btn:hover, .modal-confirm .btn:focus {
		background: #eda645;
		outline: none;
	}
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}
    
}
 
