@import url(https://fonts.googleapis.com/css?family=Tangerine);

@import url(https://fonts.googleapis.com/css?family=Tangerine);

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300i|PT+Serif);

@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

.company_caption_font
{
  font-family: "Tangerine", cursive;
  text-shadow: 30px 30px 30px #aaa;
  color: #2c3e50;
  font-size: 54px;
  font-style: oblique;
}

body
{
  background: #e4ebe9 url(https://tympanus.net/Development/Slicebox//images/fancy_deboss.png) repeat top left;
}

#topnavid #pagenav
{
  background-color: #299617;
}

#topnavid a
{
  color: whitesmoke;
  text-decoration: none;
  border-bottom: 1px solid rgba(254, 254, 254, 0);
  -webkit-transition: border-bottom .5s;
  transition: border-bottom .5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#topnavid a:hover
{
  border-bottom: 1px solid #fefefe;
  background-color: #a42d08;
  border: 1px solid #a42d08;
  text-shadow: 0 -1px 0 #d53b0a;
  border: 2px solid red;
  border-radius: 25px;
}

#topnavid .navbar
{
  background-color: #299617;
}

@media (max-width: 950px)
{
  #topnavid .navbar-header
  {
    float: none;
  }

  #topnavid .navbar-toggle
  {
    display: block;
  }
}

#jumbotron .jumbotron-fluid
{
  background-color: #299617;
  color: #fff;
  font-family: "Tangerine", cursive;
}

#jumbotron .company_caption_font
{
  font-family: "Tangerine", cursive;
  text-shadow: 4px 4px 4px #aaa;
  color: #19C5FF;
}

#jumbotron .company_moto_font
{
  font-family: "Abril Fatface", cursive;
  color: black;
}

#jumbotron .company_email_font
{
  font-family: "Josefin Sans", sans-serif;
  color: #000;
}

#jumbotron #cloud1
{
  -webkit-animation: cloudOne infinite 30s linear;
          animation: cloudOne infinite 30s linear;
}

@-webkit-keyframes cloudOne
{
  0%
  {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100%
  {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes cloudOne
{
  0%
  {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100%
  {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

#jumbotron img
{
  /*
        border-radius: 50%;
        border: 5px solid;


        border-color: #299617;
        border-style:double;
        */;
}

#jumbotron .jumbotron-fluid
{
  margin-bottom: 0px;
  background-image: url(../02_IMAGES/aa_HOME_PAGE/03_jumbotron/background.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}

#jumbotron .carousel-caption
{
  top: 50%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

#jumbotron a
{
  color: #B6FF00;
  font-family: PressStart;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  color: red;
}

#jumbotron .company_caption_font
{
  font-size: 50px;
}

@media screen and (max-width: 320px)
{
  #jumbotron .company_caption_font
  {
    font-size: 15.625vw;
  }
}

@media screen and (max-width: 380px)
{
  #jumbotron .company_caption_font
  {
    font-size: 13.15789vw;
  }
}

@media screen and (max-width: 420px)
{
  #jumbotron .company_caption_font
  {
    font-size: 11.90476vw;
  }
}

@media screen and (max-width: 480px)
{
  #jumbotron .company_caption_font
  {
    font-size: 10.41667vw;
  }
}

@media screen and (max-width: 520px)
{
  #jumbotron .company_caption_font
  {
    font-size: 9.61538vw;
  }
}

@media screen and (max-width: 580px)
{
  #jumbotron .company_caption_font
  {
    font-size: 8.62069vw;
  }
}

@media screen and (max-width: 620px)
{
  #jumbotron .company_caption_font
  {
    font-size: 8.06452vw;
  }
}

@media screen and (max-width: 680px)
{
  #jumbotron .company_caption_font
  {
    font-size: 7.35294vw;
  }
}

@media screen and (max-width: 770px)
{
  #jumbotron .company_caption_font
  {
    font-size: 6.49351vw;
  }
}

#jumbotron .company_moto_font
{
  font-size: 16px;
}

@media screen and (max-width: 320px)
{
  #jumbotron .company_moto_font
  {
    font-size: 5vw;
  }
}

@media screen and (max-width: 380px)
{
  #jumbotron .company_moto_font
  {
    font-size: 4.21053vw;
  }
}

@media screen and (max-width: 420px)
{
  #jumbotron .company_moto_font
  {
    font-size: 3.80952vw;
  }
}

@media screen and (max-width: 480px)
{
  #jumbotron .company_moto_font
  {
    font-size: 3.33333vw;
  }
}

@media screen and (max-width: 520px)
{
  #jumbotron .company_moto_font
  {
    font-size: 3.07692vw;
  }
}

@media screen and (max-width: 580px)
{
  #jumbotron .company_moto_font
  {
    font-size: 2.75862vw;
  }
}

@media screen and (max-width: 620px)
{
  #jumbotron .company_moto_font
  {
    font-size: 2.58065vw;
  }
}

@media screen and (max-width: 680px)
{
  #jumbotron .company_moto_font
  {
    font-size: 2.35294vw;
  }
}

@media screen and (max-width: 770px)
{
  #jumbotron .company_moto_font
  {
    font-size: 2.07792vw;
  }
}

#jumbotron .company_email_font
{
  font-size: 20px;
}

@media screen and (max-width: 320px)
{
  #jumbotron .company_email_font
  {
    font-size: 6.25vw;
  }
}

@media screen and (max-width: 380px)
{
  #jumbotron .company_email_font
  {
    font-size: 5.26316vw;
  }
}

@media screen and (max-width: 420px)
{
  #jumbotron .company_email_font
  {
    font-size: 4.7619vw;
  }
}

@media screen and (max-width: 480px)
{
  #jumbotron .company_email_font
  {
    font-size: 4.16667vw;
  }
}

@media screen and (max-width: 520px)
{
  #jumbotron .company_email_font
  {
    font-size: 3.84615vw;
  }
}

@media screen and (max-width: 580px)
{
  #jumbotron .company_email_font
  {
    font-size: 3.44828vw;
  }
}

@media screen and (max-width: 620px)
{
  #jumbotron .company_email_font
  {
    font-size: 3.22581vw;
  }
}

@media screen and (max-width: 680px)
{
  #jumbotron .company_email_font
  {
    font-size: 2.94118vw;
  }
}

@media screen and (max-width: 770px)
{
  #jumbotron .company_email_font
  {
    font-size: 2.5974vw;
  }
}

#icons
{
  z-index: 3;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 4px 4px 4px #aaa;
}

#icons .icon_font
{
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  color: #000;
  font-style: oblique;
  text-shadow: 4px 4px 4px #aaa;
}

#icons .background
{
  display: block;
  z-index: 0;
}

#icons a:link
{
  color: green;
  text-decoration: none;
}

#icons a:visited
{
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

#icons a:hover
{
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

#icons a:active
{
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

#icons .marquee
{
  width: 100%;
  line-height: 50px;
  color: black;
  white-space: nowrap;
  font-size: 30px;
  font-style: oblique;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#icons .marquee p
{
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marquee 15s linear infinite;
          animation: marquee 15s linear infinite;
}

@-webkit-keyframes marquee
{
  0%
  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100%
  {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes marquee
{
  0%
  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100%
  {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

a, a:active, a:focus
{
  outline: none;
}

#Wayanad3D a, #Wayanad3D a:active, #Wayanad3D a:focus
{
  outline: none;
}

#profile
{
  margin-top: 0 150px;
}

#profile .bg-grey
{
  background-color: #f6f6f6;
}

#profile .font_profile
{
  font-family: "Tangerine", cursive;
  font-size: 48px;
  color: #000;
  font-style: oblique;
  text-shadow: 4px 4px 4px #aaa;
}

#profile img
{
  border-radius: 50%;
  border: 5px solid;
  border-color: #299617;
  border-style: outset;
}

#package .bubbly-button
{
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1.5em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
  transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s, -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
  -webkit-box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
          box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

#package .bubbly-button:focus
{
  outline: 0;
}

#package .bubbly-button:before, #package .bubbly-button:after
{
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

#package .bubbly-button:before
{
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

#package .bubbly-button:after
{
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

#package .bubbly-button:active
{
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #e60074;
  -webkit-box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
          box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

#package .bubbly-button.animate:before
{
  display: block;
  -webkit-animation: topBubbles ease-in-out 0.75s forwards;
          animation: topBubbles ease-in-out 0.75s forwards;
}

#package .bubbly-button.animate:after
{
  display: block;
  -webkit-animation: bottomBubbles ease-in-out 0.75s forwards;
          animation: bottomBubbles ease-in-out 0.75s forwards;
}

@-webkit-keyframes topBubbles
{
  0%
  {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  50%
  {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100%
  {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes topBubbles
{
  0%
  {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  50%
  {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100%
  {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@-webkit-keyframes bottomBubbles
{
  0%
  {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }

  50%
  {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }

  100%
  {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles
{
  0%
  {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }

  50%
  {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }

  100%
  {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

#package .font_package_heading
{
  font-family: "Tangerine", cursive;
  font-size: 48px;
  color: #000;
  font-style: oblique;
  text-shadow: 4px 4px 4px #aaa;
}

#package .roundB
{
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5%;
  background: radial-gradient(blue, green);
  border: 0;
  z-index: auto;
}

#package .card_v
{
  margin: 0px 0px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#package .card_model ul
{
  list-style-type: none;
}

#package .card_model h1
{
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;
}

#package .card_model .container
{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#package .card_model .front,
#package .card_model .back
{
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

#package .card_model .back
{
  background: #cedce7;
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

#package .card_model .front:after
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

#package .card_model .container:hover .front,
#package .card_model .container:hover .back
{
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

#package .card_model .back
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#package .card_model .inner
{
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
          transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
          perspective: inherit;
  z-index: 2;
}

#package .card_model .container .back
{
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#package .card_model .container .front
{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#package .card_model .container:hover .back
{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#package .card_model .container:hover .front
{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#package .card_model .front .inner p
{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

#package .card_model .front .inner p:after
{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

#package .card_model .front .inner span
{
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

#googleMap .map-responsive
{
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

#googleMap .map-responsive iframe
{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#contact
{
  margin-top: 30px;
}

#contact .font_heading
{
  font-family: "Tangerine", cursive;
  font-size: 38px;
  color: #000;
  font-style: oblique;
  text-shadow: 4px 4px 4px #aaa;
}

#contact .button_round
{
  background-color: #4CAF50;
    /* Green */
  border: 2px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 auto;
}

#contact .bg-grey
{
  background-color: #f6f6f6;
}

#contact .font_contact
{
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  color: #000;
  font-style: oblique;
  text-shadow: 4px 4px 4px #aaa;
}

#contact .round
{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 12px 12px;
}

#contact .jumbotron
{
  padding: 0px;
}

#faq
{
  margin-top: 70px;
}

#footer1
{
  background-color: #FF7F50;
  height: 90px;
}

#footer1 .social
{
  padding-top: 30px;
  margin: auto;
}

#footer1 .social li
{
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  border-radius: 50%;
  float: right;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  display: inline;
}

#footer1 .social li:hover
{
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

#footer1 .social li a
{
  color: #EDEFF1;
}

#footer1 .social li:hover
{
  border: 2px solid #2c3e50;
  background: #2c3e50;
}

#footer1 .social li a i
{
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}

.slideanim
{
  visibility: hidden;
}

.slide
{
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide
{
  0%
  {
    opacity: 0;
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
  }

  100%
  {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes slide
{
  0%
  {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }

  100%
  {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

#myFooter
{
  color: white;
  padding-top: 20px;
  background-color: #696969;
}

#myFooter #map-container
{
  height: 240px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

#myFooter .row
{
  margin: 0 0px;
}

#myFooter .footer-copyright
{
  background-color: #D3D3D3;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

#myFooter .footer-copyright p
{
  margin: 10px;
  color: blue;
}

#myFooter .container
{
  width: auto;
}

#myFooter ul
{
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5
{
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  text-decoration: underline;
}

#myFooter a
{
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
  #myFooter a:focus
{
  text-decoration: none;
  color: white;
}

#myFooter .social-networks
{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 38px;
}

#myFooter .fa
{
  font-size: 30px;
  margin-right: 15px;
  margin-left: 20px;
  background-color: white;
  color: greenyellow;
  border-radius: 51%;
  padding: 10px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 31px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

#myFooter .fa-facebook:hover
{
  color: #2b55ff;
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

#myFooter .fa-facebook:focus
{
  color: #2b55ff;
}

#myFooter .fa-google-plus:hover
{
  color: red;
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

#myFooter .fa-google-plus:focus
{
  color: red;
}

#myFooter .fa-twitter:hover
{
  color: #00aced;
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

#myFooter .fa-twitter:focus
{
  color: #00aced;
}

@media screen and (max-width: 767px)
{
  #myFooter
  {
    text-align: center;
  }

  #myFooter .row
  {
    margin: 0;
  }
}

#myFooter #movetop
{
  font-size: 10px;
}

.btn-circle
{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg
{
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl
{
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
