@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body
{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h5
{
  display: inline;
}

body
{
  background: #DDDDDD;
}

#topnavid a
{
  color: whitesmoke;
  text-decoration: none;
  border-bottom: 1px solid rgba(254, 254, 254, 0);
  -webkit-transition: border-bottom .5s;
  transition: border-bottom .5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#topnavid a:hover
{
  border-bottom: 1px solid #fefefe;
  background-color: #a42d08;
  border: 1px solid #a42d08;
  text-shadow: 0 -1px 0 #d53b0a;
  border: 2px solid red;
  border-radius: 25px;
}

#topnavid .navbar
{
  background-color: #299617;
}

@media (max-width: 950px)
{
  #topnavid .navbar-header
  {
    float: none;
  }

  #topnavid .navbar-toggle
  {
    display: block;
  }
}

#viewport
{
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 480px;
  height: 480px;
  position: absolute;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  /* No height so center of rotation is on top */
  /*
    #cube div{
        width:100%;
        height:100%;
         opacity:1;
        position:absolute;
     //   border:1px solid black;
  
        
    }
*/
  /*
@keyframes Rotatec{
    0% {transform:rotateY(0deg);}
    20%{transform:rotateY(30deg) rotateX(50deg);} 
    70%{transform:rotateY(210deg) rotateZ(120deg);}
    100%{transform:rotateY(360deg);}
}
#anim:hover + #viewport > #cube{
    animation: Rotatec 3s infinite;
}  

*/
  /* No height so center of rotation is on top */;
}

#viewport .center_face
{
  position: absolute;
}

#viewport #cubeB
{
  -webkit-transform: translateZ(-10000px);
          transform: translateZ(-10000px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#viewport #cube4
{
  position: absolute;
  width: 100%;
  height: 100%;
}

#viewport .width_adjust_face
{
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
}

#viewport #front
{
  background-image: url("../02_IMAGES/ab_LOGIN_PAGE/00_cube/dark.png");
  border-style: ridge;
  border-color: whitesmoke;
  border-width: 8px;
  z-index: auto;
  visibility: hidden;
}

#viewport #back
{
  background-image: url("../02_IMAGES/ab_LOGIN_PAGE/00_cube/light.png");
  border-style: ridge;
  border-color: whitesmoke;
  border-width: 8px;
  z-index: auto;
  visibility: hidden;
}

#viewport #top
{
  background: yellow;
  z-index: auto;
  visibility: hidden;
}

#viewport #bottom
{
  background: yellow;
  z-index: auto;
  visibility: hidden;
}

#viewport #left
{
  background-image: url("../02_IMAGES/ab_LOGIN_PAGE/00_cube/adminlogin.jpg");
  border-style: ridge;
  border-color: whitesmoke;
  border-width: 8px;
  z-index: auto;
  visibility: hidden;
}

#viewport #right
{
  background-image: url("../02_IMAGES/ab_LOGIN_PAGE/00_cube/Video.jpg");
  border-style: ridge;
  border-color: whitesmoke;
  border-width: 8px;
  z-index: auto;
  visibility: hidden;
}

#viewport #shadow
{
  background: radial-gradient(#777, #DDDDDD);
  border: 0;
  z-index: auto;
  visibility: hidden;
}

#viewport #anim:hover + #viewport > #cube
{
  -webkit-transform: rotateX(-290deg) rotateY(150deg) rotateZ(130deg) translateX(400px);
          transform: rotateX(-290deg) rotateY(150deg) rotateZ(130deg) translateX(400px);
}

#viewport #form_containter
{
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#viewport #form_containter1
{
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#viewport #form_containter2
{
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#viewport #form_containter3
{
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#viewport .next
{
  float: right;
}

#viewport .prev
{
  float: left;
}

#viewport .login_heading
{
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #007bff;
  text-shadow: 0 -1px 0 #0062cc;
}

#viewport img
{
  border-radius: 50%;
  border-color: whitesmoke;
}

#viewport #bottom_address
{
  position: absolute;
  bottom: 0%;
}

#viewport #bottom_addressv
{
  position: absolute;
  bottom: 0%;
}

#viewport #r-backb
{
  float: left;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  margin-left: 4px;
}

#viewport #r-nextb
{
  float: right;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  margin-right: 4px;
}

#viewport #r-backv
{
  float: left;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  margin-left: 4px;
}

#viewport #r-nextv
{
  float: right;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  margin-right: 4px;
}

#viewport .video_border
{
  background: green;
  border-style: ridge;
  border-color: whitesmoke;
  border-width: 8px;
}

#viewport .front_rotation_admin_right
{
  -webkit-transform: rotate(-100%);
          transform: rotate(-100%);
}

#viewport #cube
{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
}

#viewport #cubeR
{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
}

#viewport .rotate_transition
{
  -webkit-transform: rotateX(0 deg) rotateY(0deg);
          transform: rotateX(0 deg) rotateY(0deg);
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#viewport .rotate_transition_fast
{
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition: all .0000000000000000000000000000000000000000000000001s;
  transition: all .0000000000000000000000000000000000000000000000001s;
}

#viewport .video_heading
{
  font-family: "Tangerine", cursive;
  text-shadow: 4px 4px 4px #aaa;
  color: #19C5FF;
  margin-bottom: 10px;
}

.roundB
{
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  background: radial-gradient(blue, green);
  border: 0;
  z-index: auto;
}

.roundBH
{
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  background: radial-gradient(blue, green);
  border: 0;
  z-index: auto;
}

#myModalF .modal-confirm
{
  color: red;
}

#myModalF .modal-confirm .modal-content
{
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

#myModalF .modal-confirm .modal-header
{
  background: #e85e6c;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

#myModalF .modal-confirm h4
{
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}

#myModalF .modal-confirm .form-control, #myModalF .modal-confirm .btn
{
  min-height: 40px;
  border-radius: 5%;
}

#myModalF .modal-confirm .close
{
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}

#myModalF .modal-confirm .close:hover
{
  opacity: 0.8;
}

#myModalF .modal-confirm .icon-box
{
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  text-align: center;
}

#myModalF .modal-confirm .icon-box i
{
  font-size: 58px;
  margin: -2px 0 0 -2px;
}

#myModalF .modal-confirm.modal-dialog
{
  margin-top: 80px;
}

#myModalF .modal-confirm .btn
{
  color: #fff;
  border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  min-width: 150px;
  border: none;
}

#myModalF .modal-confirm .btn:hover, #myModalF .modal-confirm .btn:focus
{
  background: #eda645;
  outline: none;
}

#myModalF .trigger-btn
{
  display: inline-block;
  margin: 100px auto;
}

#myModalS body
{
  font-family: 'Varela Round', sans-serif;
}

#myModalS .modal-confirm
{
  color: #434e65;
}

#myModalS .modal-confirm .modal-content
{
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

#myModalS .modal-confirm .modal-header
{
  background: #e85e6c;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

#myModalS .modal-confirm h4
{
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}

#myModalS .modal-confirm .form-control, #myModalS .modal-confirm .btn
{
  min-height: 40px;
  border-radius: 3px;
}

#myModalS .modal-confirm .close
{
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}

#myModalS .modal-confirm .close:hover
{
  opacity: 0.8;
}

#myModalS .modal-confirm .icon-box
{
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  text-align: center;
}

#myModalS .modal-confirm .icon-box i
{
  font-size: 58px;
  margin: -2px 0 0 -2px;
}

#myModalS .modal-confirm.modal-dialog
{
  margin-top: 80px;
}

#myModalS .modal-confirm .btn
{
  color: #fff;
  border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  min-width: 150px;
  border: none;
}

#myModalS .modal-confirm .btn:hover, #myModalS .modal-confirm .btn:focus
{
  background: #eda645;
  outline: none;
}

#myModalS .trigger-btn
{
  display: inline-block;
  margin: 100px auto;
}
