body
{
  padding: 0px;
  margin: 0px;
  background: url(http://wayanadtoursandtravels.com/02_IMAGES/aa_HOME_PAGE/02_Packages/package_6.jpg) no-repeat center center scroll;
  background-size: cover;
}

#particles-js
{
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.48;
  top: 0%;
  z-index: -1;
}

.text
{
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  color: #fff;
  max-width: 90%;
  padding: 2em 3em;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 2px #131415;
  font-family: 'Open Sans', sans-serif;
}

.jqInvalid
{
  background: #ffdddd;
}

.formentery
{
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 2px #131415;
  color: blue;
}

h1
{
  font-size: 2.25em;
  font-weight: 700;
  letter-spacing: -1px;
}

a,
a:visited
{
  color: #e34234;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

a:hover,
a:focus
{
  color: #ba160c;
}

form .error
{
  color: #ff0000;
}

#myModalF .modal-confirm
{
  color: red;
}

#myModalF .modal-confirm .modal-content
{
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

#myModalF .modal-confirm .modal-header
{
  background: #e85e6c;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

#myModalF .modal-confirm h4
{
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}

#myModalF .modal-confirm .form-control, #myModalF .modal-confirm .btn
{
  min-height: 40px;
  border-radius: 5%;
}

#myModalF .modal-confirm .close
{
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}

#myModalF .modal-confirm .close:hover
{
  opacity: 0.8;
}

#myModalF .modal-confirm .icon-box
{
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  text-align: center;
}

#myModalF .modal-confirm .icon-box i
{
  font-size: 58px;
  margin: -2px 0 0 -2px;
}

#myModalF .modal-confirm.modal-dialog
{
  margin-top: 80px;
}

#myModalF .modal-confirm .btn
{
  color: #fff;
  border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  min-width: 150px;
  border: none;
}

#myModalF .modal-confirm .btn:hover, #myModalF .modal-confirm .btn:focus
{
  background: #eda645;
  outline: none;
}

#myModalF .trigger-btn
{
  display: inline-block;
  margin: 100px auto;
}

#myModalS body
{
  font-family: 'Varela Round', sans-serif;
}

#myModalS .modal-confirm
{
  color: #434e65;
}

#myModalS .modal-confirm .modal-content
{
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

#myModalS .modal-confirm .modal-header
{
  background: #e85e6c;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

#myModalS .modal-confirm h4
{
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}

#myModalS .modal-confirm .form-control, #myModalS .modal-confirm .btn
{
  min-height: 40px;
  border-radius: 3px;
}

#myModalS .modal-confirm .close
{
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}

#myModalS .modal-confirm .close:hover
{
  opacity: 0.8;
}

#myModalS .modal-confirm .icon-box
{
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  text-align: center;
}

#myModalS .modal-confirm .icon-box i
{
  font-size: 58px;
  margin: -2px 0 0 -2px;
}

#myModalS .modal-confirm.modal-dialog
{
  margin-top: 80px;
}

#myModalS .modal-confirm .btn
{
  color: #fff;
  border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  min-width: 150px;
  border: none;
}

#myModalS .modal-confirm .btn:hover, #myModalS .modal-confirm .btn:focus
{
  background: #eda645;
  outline: none;
}

#myModalS .trigger-btn
{
  display: inline-block;
  margin: 100px auto;
}

#myModalS body
{
  font-family: 'Varela Round', sans-serif;
}

#myModalS .modal-confirm
{
  color: #434e65;
  width: 525px;
}

#myModalS .modal-confirm .modal-content
{
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

#myModalS .modal-confirm .modal-header
{
  background: #228B22;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

#myModalS .modal-confirm h4
{
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}

#myModalS .modal-confirm .form-control, #myModalS .modal-confirm .btn
{
  min-height: 40px;
  border-radius: 3px;
}

#myModalS .modal-confirm .close
{
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}

#myModalS .modal-confirm .close:hover
{
  opacity: 0.8;
}

#myModalS .modal-confirm .icon-box
{
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  text-align: center;
}

#myModalS .modal-confirm .icon-box i
{
  font-size: 58px;
  margin: -2px 0 0 -2px;
}

#myModalS .modal-confirm.modal-dialog
{
  margin-top: 80px;
}

#myModalS .modal-confirm .btn
{
  color: #fff;
  border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  min-width: 150px;
  border: none;
}

#myModalS .modal-confirm .btn:hover, #myModalS .modal-confirm .btn:focus
{
  background: #eda645;
  outline: none;
}

#myModalS .trigger-btn
{
  display: inline-block;
  margin: 100px auto;
}

canvas
{
  display: block;
  vertical-align: bottom;
  height: 100%;
}
